h1{
    font-weight: bold;
    font-size: 3rem;
    color: #001B2E;
}   

.new-court-section{
    margin: 50px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 100px;
    border: none;
    padding: 20px;
    cursor: pointer;
    background-color: #001B2E;
    color: whitesmoke;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

.short-input{
    max-width: 200px;
}