<section class="new-court-section">
    <h1>New court</h1>
    <form [formGroup]="createCourtFormGroup" (ngSubmit)="createCourt()">
        <mat-form-field>
            <mat-label>Court name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>

        <mat-form-field class="short-input">
            <mat-label>Court number</mat-label>
            <input matInput formControlName="number">
        </mat-form-field>

        <mat-form-field class="short-input">
            <mat-label>Walls material</mat-label>
            <mat-select formControlName="glass">
                <mat-option [value]="true">Glass</mat-option>
                <mat-option [value]="false">Concrete</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="short-input">
            <mat-label>Court type</mat-label>
            <mat-select formControlName="exterior">
                <mat-option [value]="true">Outdoor</mat-option>
                <mat-option [value]="false">Indoor</mat-option>
            </mat-select>
        </mat-form-field>
        
        <button type="button" (click)="createCourt()">Save court</button>
    </form>
</section>