ul{
    list-style-type: none;
    padding: 0px;
}

.users-list-section{
    margin: 50px;
}

h1{
    font-weight: bold;
    font-size: 3rem;
    color: #001B2E;
}

.user-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 8fr));
    gap: 15px;
    justify-content: left;
    margin: 30px;
    padding-bottom: 180px;
    transition: transform 0.3s ease;
}

.user-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: #ADB6C4;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.user-card:hover{
    transform: scale(1.02);
}

.player-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px; 
    height: 75px;
    border-radius: 50%; 
    overflow: hidden;
    border: 4px solid #fff; 
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}

.player-photo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name{
    margin-top: 10px;
}

.user-level{
    display: flex;
    align-items: center;
    gap: 5px;
}

