<div class="main-container">
    <div class="login-div">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <input class="email-input" type="email" name="email" formControlName="email" placeholder="Email"/>
            <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">Email is required</div>
            <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">Email is invalid</div>

            <input class="password-input" type="password" name="password" formControlName="password" placeholder="Password"/>
            <div class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">Password is required</div>
            <button type="submit" [disabled]="loginForm.invalid">Sign in</button>
        </form>
        <a routerLink="/register">Not a member? <strong>Sign up now!</strong></a>
    </div>
</div>