.matches-section{
    min-height: 100vh;
    height: fit-content;
}

.filters-div{
    background-color: #ced8e9;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-match-button{
    height: 60px;
    min-width: 260px;
    font-size: 1.8rem;
    color: #fff;
    padding: 20px 20px 20px 80px;
    border-radius: 100px;
    border: none;
    background-image: url(/assets/plus-icon.svg);
    background-color: #00102e;
    background-position: 30px center;
    background-repeat: no-repeat;
    background-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}

.new-match-button:hover{
    background-color: #00102ec7;
}

.matches-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
    gap: 15px;
    justify-content: left;
    margin: 30px;
}

.match-card{
    background-color: whitesmoke;
    border: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: #ADB6C4;
}

.match-date{
    font-weight: bold;
    padding: 20px 0px 10px 20px;
}

.match-level{
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.match-players{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

hr{
    margin: 0px;
    color: #ADB6C4;
}

.player{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.player-photo{
    width: 75px; 
    height: 75px;
    border-radius: 50%; 
    overflow: hidden;
    border: 4px solid #fff; 
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}

.player-level{
    background-color: #FFC759;
    width: 50px;
    border-radius: 10px;
}

.join{
    font-weight: bold;
    color: #294C60;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    background-color: #294C60;
    border-radius: 0px 0px 17px 17px;
    height: 90px;
}

.footer-padel-court{
    padding: 20px;
    font-weight: bold;
}

.footer-price-time{
    display: flex;
    color: #00102e;
    font-weight: bold;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #FFC759;
    width: 150px;
    padding: 20px;
    border-radius: 0px 0px 17px 0px;
}
