<section class="matches-section">
    <div class="matches-grid">
        <div class="match-card" *ngFor="let match of listPadelMatches">
            <div class="match-date">Saturday 12 april | 19:00</div>
            <div class="match-level">
                <div>Competitive</div>
                <div>2.9 - 3.5</div>
            </div>
            <div class="match-players">
                <div class="team">
                    <div class="player">
                        <div class="player-photo"></div>
                        <div>Miguel</div>
                        <div class="player-level">3.25</div>
                    </div>
                    <div class="player">
                        <div class="player-photo"></div>
                        <div>Miguel</div>
                        <div class="player-level">3.25</div>
                    </div>
                </div>
                <hr>
                <div class="team">
                    <div class="player">
                        <div class="player-photo"></div>
                        <div>Miguel</div>
                        <div class="player-level">3.25</div>
                    </div>
                    <div class="player">
                        <div class="player-photo"></div>
                        <div>Miguel</div>
                        <div class="player-level">3.25</div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="footer-padel-court">Padel world center</div>
                <div class="footer-price-time">
                    <div>5.50€</div>
                    <hr>
                    <div>90min</div>
                </div>
            </div>
        </div>
    </div>
</section>