body{
    margin: 0px;
    padding: 0px;
    font-family: "Inter",sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* Timepicker styles */

.timepicker__main-content{
    margin-left: 20px;
    margin-right: 20px;
}

div.ngx-mat-timepicker-dialog > mat-dialog-container [mat-dialog-content] mat-toolbar.timepicker-header{
    padding-top: 20px;
}

/* Timepicker styles */