<section class="create-match-section">
  <h1>Create a match</h1>
  <div class="create-match-form">
    <form [formGroup]="createMatchFormGroup">

      <div class="date-time-section">
        <mat-form-field class="datepicker">
          <mat-label>Match date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="matchDate" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Match time</mat-label>
          <input matInput [ngxMatTimepicker]="timepicker" readonly [format]="24" formControlName="matchTime">
          <ngx-mat-timepicker #timepicker (timeSet)="onTimeSelected($event)"></ngx-mat-timepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Duration in minutes</mat-label>
          <mat-select formControlName="durationInMinutes">
            @for (duration of durations; track duration) {
            <mat-option [value]="duration">{{ duration }} min</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="type-price-section">
        <div class="checkboxes">
          <mat-checkbox class="check-competitive" formControlName="competitive">Competitive</mat-checkbox>
          <mat-checkbox class="check-private" formControlName="private">Private</mat-checkbox>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Price per person in €</mat-label>
            <input matInput type="number" step="0.01" formControlName="pricePerPerson" min="0">
          </mat-form-field>
        </div>
      </div>

      <div class="team-letter">
        <div>A</div>
        <div>B</div>
      </div>

      <div class="players-section">
        <div class="team">
          <ng-container *ngFor="let player of teamA; index as i">
            <div class="player">
              <ng-container *ngIf="player; else joinSlotA">
                <div class="player-photo"></div>
                <div>{{ player.name }}</div>
                <div class="player-level">{{ player.padelLevel }}</div>
              </ng-container>
              <ng-template #joinSlotA>
                <div class="join-slot" (click)="addPlayerDialog('A', i)">
                  <div class="player">
                    <div class="player-photo"></div>
                    <div class="join">Add</div>
                  </div>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </div>
        <hr />
        <div class="team">
          <ng-container *ngFor="let player of teamB; index as i">
            <div class="player">
              <ng-container *ngIf="player; else joinSlotB">
                <div class="player-photo"></div>
                <div>{{ player.name }}</div>
                <div class="player-level">{{ player.padelLevel }}</div>
              </ng-container>
              <ng-template #joinSlotB>
                <div class="join-slot" (click)="addPlayerDialog('B', i)">
                  <div class="player">
                    <div class="player-photo"></div>
                    <div class="join">Add</div>
                  </div>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="court-section">
        <div class="court-buttons-div">
          <button type="button" class="court-button" (click)="selectCourteDialog()">Select a court</button>
          <button type="button" class="court-button" (click)="newCourteDialog()">New Court</button>
        </div>

        <div class="court" *ngIf="selectedCourt; else noCourtSelected">
          <div>{{ selectedCourt.name }} | Court Nº {{ selectedCourt.number }} | {{ selectedCourt.address }}</div>
          <div>{{ selectedCourt.glass ? 'Glass' : 'Concrete' }} | {{ selectedCourt.exterior ? 'Outdoor' : 'Indoor' }}
          </div>
        </div>

        <ng-template #noCourtSelected>
          <div class="court">
            <div>No court selected!</div>
          </div>
        </ng-template>
      </div>

      <div class="submit-div">
        <button type="button" class="cancel-button" routerLink="/search-match">Cancel</button>
        <button type="button" class="create-match-button" (click)="createMatch()">Create match!</button>
      </div>
    </form>
  </div>
</section>