<footer>
    <div class="footer-part">Copyright © 2025 Padel microservices. All rights reserved.</div>
    <div class="footer-part">
        <div>Cookies policy</div>
        <div>Privacy policy</div>
        <div>Terms and conditions</div>
    </div>
    <div class="footer-part">
        <img src="/assets/youtube-brands.svg" alt="youtube">
        <img src="/assets/instagram-brands.svg" alt="instagram">
        <img src="/assets/tiktok-brands.svg" alt="tiktok">
        <img src="/assets/x-twitter-brands.svg" alt="X">
    </div>
</footer>